.notification {
    top: 12px;
    right: 12px;
    padding: 12px;
    z-index: 10;
    height: 70px;
    width: 400px;
    position: fixed;
    background-color: white;
    border-radius: 12px;
    border: 1px gainsboro solid;
    transition: 0.5s all;
}

@media (max-width: 600px) {
    .notification{
        width: 200px;
    }
}

.notification-off {
    right: -410px;
    transition: 0.5s all;
}