.postcard {
  width: fit-content;
  height: fit-content;
  transform-style: preserve-3d;
  border: 1px solid #ddd;

  transition: all 0.5s linear;
}

.postcard-image {
  width: calc(100vw - 70px);
  object-fit: contain;
  height: auto;
}

.postcard-back {
  background-image: url(/postcard_back.png);
  background-color: #f2e8de;
  background-size: contain;
}

.moving-animation {
  animation: moving 4s infinite;
  animation-direction: initial;
}

@keyframes moving {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  33% {
    transform: rotateY(10deg) rotateX(20deg);
  }
  66% {
    transform: rotateY(-10deg) rotateX(-20deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
}
