@font-face {
  font-family: "PretendardVariable";
  src: url("../font/PretendardVariable.ttf");
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(190, 205, 222);
}
