@font-face {
  font-family: "PretendardVariable";
  src: url("../font/PretendardVariable.ttf");
}

@font-face {
  font-family: "Cafe24OhsquareAir";
  src: url("../font/Cafe24OhsquareAir-v2.0.woff2");
}

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("../font/Cafe24Ohsquare-v2.0.woff2");
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  margin-top: calc(env(safe-area-inset-top) + 15px);
}
