.img_button {
  position: absolute;
  animation: vibration 2s infinite;
}

@keyframes vibration {
  0% {
    margin-top: 5px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}

.play_list {
  animation-duration: 1.9s;
}

.poster {
  animation-duration: 2.1s;
}

.notice {
  animation-duration: 2.2s;
}
