@font-face {
  font-family: "PretendardVariable";
  src: url("../font/PretendardVariable.woff2");
}

@font-face {
  font-family: "Cafe24OhsquareAir";
  src: url("../font/Cafe24OhsquareAir-v2.0.woff2");
}

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("../font/Cafe24Ohsquare-v2.0.woff2");
}

@font-face {
  font-family: "HandFont";
  src: url("../font/hand-font.woff2");
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream1.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream2.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream3.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream4.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream5.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream6.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream7.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream8.otf");
  font-weight: 800;
}

@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream9.otf");
  font-weight: 900;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  margin-top: calc(env(safe-area-inset-top) + 15px);
  margin: 0px;
}

/*
.MuiButton-root {
  background-color: #5d4431 !important;
}
*/
