# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# dependencies
/node_modules
.env
ormconfig.json
pnpm-lock.yaml

# database backups
/backups
*.sql
*.sql.gz