html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.day-select {
  transition: all 0.3s;
}

input {
  background-color: #fff;
  color: #1d321a;
  border-radius: 40px;
  z-index: 100;
}

.TextField {
  background-color: #fff;
  border-radius: 40px;
  :only-child {
    border-radius: 24px;
    position: unset;
  }
  .MuiOutlinedInput-root {
    background-color: white;
    height: 40px;
  }
}

.Select {
  height: 40px;
  border-radius: 40px;
}

.MuiSelect-select {
  z-index: 100;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1;
  border-color: #ddd;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  background-color: #ffffff;
  border-radius: 40px;
  border-width: 1;
}

button {
  background-color: #1d321a;
}
